<div class="container dark-theme">
    <div class="d-flex justify-content-center mt-4">
        <h4>Your Exams History</h4>
    </div>
    <div class="row" *ngFor="let exam of exams">
        <div class="card mt-4 bg-dark text-white" >
            <div class="card-body">
                        <p class="card-title">Date of Exam: {{ exam.date }}</p>
                        <!-- <p class="card-title">Time of Exam: {{ exam.time }}</p> -->
                        <p class="card-title">Score: {{ exam.score }} out of 10</p>
                        <p class="card-title">Difficulty : {{exam.difficulty}}</p>
                        <button class="btn btn-primary" (click)="viewExam(exam)">View</button>
            </div>
        </div>
    </div>
</div>