<!-- book-list.component.html -->
<div class="container mt-5">
    <div class="row">
      <div class="col-12">
        <h2 class="text-center mb-4">Books Recommended For You !</h2>
      </div>
      <div *ngFor="let book of recommendedBooks" class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card h-100 shadow-sm">
          <div class="card-body d-flex flex-column">
            <img [src]="'http://localhost:5000' + book.bookImage" [alt]="book.title" class="card-img-top" style="max-height: 500px;" alt="Book Image">
            <hr>
            <h5 class="card-title mb-2"><strong>Name:</strong> {{ book.title }}</h5>
            <p class="card-text mb-2"><strong>Description:</strong> {{ book.description }}</p>
            <p class="card-text mb-2"><strong>Category:</strong> {{ book.category }}</p>
            <p class="card-text mb-2"><strong>Author:</strong> {{ book.author }}</p>
            <p class="card-text mb-3"><strong>Price:</strong> ₹ {{ book.price }}</p>
            <div class="mt-auto">
              <button class="btn btn-primary w-100" (click)="viewBook(book._id)">View Details</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  