<div class="container-fluid bg-secondary d-flex align-items-center justify-content-center" style="min-height: 100vh;">
  <div class="col-lg-4 col-md-6 col-sm-8 mt-5">
      <div class="card shadow-lg border-primary">
          <div class="card-body">
              <h4 class="card-title text-center mb-4" style="color: #555; font-weight: 600; text-shadow: 1px 1px 2px rgba(0,0,0,0.3);">Sign Up Form</h4>
              <hr>
              <form [formGroup]="signupForm" (ngSubmit)="signup()" enctype="multipart/form-data">
                  <div class="mb-3">
                      <label for="name" class="form-label">Name</label>
                      <input type="text" class="form-control" id="name" placeholder="Enter your name" formControlName="name">
                      <div *ngIf="signupForm.get('name')?.invalid && signupForm.get('name')?.touched"
                          class="invalid-feedback">
                          <div *ngIf="signupForm.get('name')?.errors?.['required']">This field is required!</div>
                      </div>
                  </div>
                  <div class="mb-3">
                      <label for="email" class="form-label">Email address</label>
                      <input type="email" class="form-control" id="email" placeholder="Enter your email"
                          formControlName="email">
                      <div *ngIf="signupForm.get('email')?.invalid && signupForm.get('email')?.touched"
                          class="invalid-feedback">
                          <div *ngIf="signupForm.get('email')?.errors?.['required']">This field is required!</div>
                          <div *ngIf="signupForm.get('email')?.errors?.['email']">Please enter a valid email!</div>
                      </div>
                  </div>
                  <div class="mb-3">
                      <label for="password" class="form-label">Password</label>
                      <input type="password" class="form-control" id="password" placeholder="Enter your password"
                          formControlName="password">
                      <div *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.touched"
                          class="invalid-feedback">
                          <div *ngIf="signupForm.get('password')?.errors?.['required']">This field is required!</div>
                      </div>
                  </div>
                  <div class="mb-3">
                      <label for="role" class="form-label">Role</label>
                      <select class="form-select form-control" id="role" formControlName="role">
                          <option value="admin">Admin</option>
                          <option value="user">User</option>
                      </select>
                      <div *ngIf="signupForm.get('role')?.invalid && signupForm.get('role')?.touched"
                          class="invalid-feedback">
                          <div *ngIf="signupForm.get('role')?.errors?.['required']">This field is required!</div>
                      </div>
                  </div>
                  <div class="mb-3">
                      <label for="profileImage" class="form-label">Profile Image</label>
                      <input type="file" class="form-control" id="profileImage" (change)="onFileChange($event)">
                  </div>
                  <div>
                      <button type="submit" class="btn btn-primary w-100">Sign Up</button>
                      <a class="btn btn-outline-primary w-100 mt-2" routerLink="/login">Already have an account ?</a>
                  </div>
                  <div *ngIf="errorMsg" class="text-danger mt-3">{{ errorMsg }}</div>
              </form>
          </div>
      </div>
  </div>
</div>
