<div class="container">
  <h3 style="text-align: center;">Product Details</h3>
  <form [formGroup]="form" (ngSubmit)="submit()" class="form-control mt-4" enctype="multipart/form-data">
    <div class="row mt-4">
      <div class="col-lg-4">
        <label for="P_Id">Product ID:</label>
        <input type="number" id="P_Id" formControlName="P_Id" class="form-control" />
        <div *ngIf="form.get('P_Id')?.invalid && form.get('P_Id')?.touched">
          <p style="color: red;">This field is required </p>
        </div>
      </div>
      <div class="col-lg-4">
        <label for="P_Name">Product Name</label>
        <input type="text" id="P_Name" formControlName="P_Name" class="form-control" />
        <div *ngIf="form.get('P_Name')?.invalid && form.get('P_Name')?.touched">
          <p style="color: red;">This field is required </p>
        </div>
      </div>
      <div class="col-lg-4">
        <label for="P_Category">Product Category</label>
        <select id="P_Category" formControlName="P_Category" class="form-control">
          <option *ngFor="let category of categories" [value]="category._id">{{ category.C_Name }}</option>
        </select>
        <div *ngIf="form.get('P_Category')?.invalid && form.get('P_Category')?.touched">
          <p style="color: red;">This field is required </p>
        </div>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-lg-4">
        <label for="P_Price">Product Price</label>
        <input type="number" id="P_Price" class="form-control" formControlName="P_Price" />
        <div *ngIf="form.get('P_Price')?.invalid && form.get('P_Price')?.touched">
          <p style="color: red;">
            {{ form.get('P_Price')?.errors?.['required'] ? 'This field is required !!!' : 'Price must be a positive number' }}
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <label for="P_Supplier">Product Supplier</label>
        <select id="P_Supplier" formControlName="P_Supplier" class="form-control">
          <option *ngFor="let supplier of suppliers" [value]="supplier._id">{{ supplier.S_Name }}</option>
        </select>
        <div *ngIf="form.get('P_Supplier')?.invalid && form.get('P_Supplier')?.touched">
          <p style="color: red;">This field is required </p>
        </div>
      </div>
      <div class="col-lg-4">

          <label for="P_Image" class="form-label">Product Image</label>
          <input type="file" id="P_Image" formControlName="P_Image" (change)="onFileChange($event)" class="form-control form-control-lg">

      </div>
    </div>

    <div class="row mt-5">
      <div class="col-lg-12">
        <label for="P_Desc">Product Description</label>
        <textarea id="P_Desc" class="form-control" formControlName="P_Desc"></textarea>
        <div *ngIf="form.get('P_Desc')?.invalid && form.get('P_Desc')?.touched">
          <p style="color: red;">This field is required </p>
        </div>
      </div>
    </div>
    <hr />
    <div class="submitButton">
      <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Submit</button>
    </div>
  </form>
</div>
