<nav class="navbar navbar-dark bg-dark" style="position: sticky; top: 0; z-index: 1000;">
    <div class="container-fluid justify-content-between">
        <a class="navbar-brand">{{ role === 'author' ? 'AUTHOR DASHBOARD' : 'ADMIN DASHBOARD' }}</a>
        <div class="d-flex align-items-center profile-container">
            <div class="dropdown">
                <div class="profile-info" data-bs-toggle="dropdown" aria-expanded="false">
                    <img [src]="profileImage" alt="Profile Image" class="rounded-circle profile-image" style="width: 60px; height: 50px; margin-right: 10px;">
                    <span class="text-white profile-name">{{ useremail }}</span>
                </div>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
                    <li><a class="dropdown-item" (click)="openUpdateProfileModal()">Update Profile</a></li>
                    <hr>
                    <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-4 sidebar" style="min-height:94.8vh;background-color: rgb(51, 56, 77);">
            <div class="list-group mt-5 mx-3">
                <br>
                <button type="button" class="list-group-item btn" routerLink="managebook">
                    Manage Books
                </button>
                <br>
                <button type="button" class="list-group-item btn" routerLink="manageauthor">
                    Manage Authors
                </button>
                <br>
                <button type="button" class="list-group-item btn" routerLink="managecategory">
                    Manage Category
                </button>
                <br>
            </div>
            <div class="justify-content-center d-flex">
                <button class="btn btn-danger" (click)="logout()">Logout</button>
            </div>
        </div>
        <div class="col-lg-10 col-md-9 col-sm-8 main-content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" [ngClass]="{'show d-block': showModal}" [ngStyle]="{'background-color': showModal ? 'rgba(0,0,0,0.5)' : 'transparent'}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update Profile</h5>
                <button type="button" class="btn-close" (click)="closeModal()"></button>
            </div>
            <div class="modal-body">
                <input type="file" (change)="onFileChange($event)" class="form-control mb-3">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
                <button type="button" class="btn btn-primary" (click)="submitProfileUpdate()">Save changes</button>
            </div>
        </div>
    </div>
</div>
