<div *ngIf="game">
  <div class="current-player mb-3">
   <strong> Current Player: </strong>  {{ currentPlayer.name }} ({{ currentPlayer.color }})
  </div>
  
  <div class="grid-container mx-auto">
    <div *ngFor="let row of game.grid; let rowIndex = index" class="w-100 d-flex">
      <div *ngFor="let cell of row; let colIndex = index"
           class="col p-0"
           [ngClass]="{'occupied': isCellOccupied(rowIndex, colIndex)}"
           [ngStyle]="{'background-color': getCellColor(rowIndex, colIndex)}"
           (click)="makeMove(rowIndex, colIndex)"
           style="flex: 1 1 0; aspect-ratio: 1; border: 1px solid #ffffff; cursor: pointer;">
      </div>
    </div>
  </div>
  
  <div *ngIf="game.gameStatus === 'completed'" class="alert alert-danger mt-3">
    Game Over! The game is completed.
    <h4>Results:</h4>
    <ul>
      <li *ngFor="let player of getRanks()">
        <strong> {{ player.name }}</strong> - {{ player.score }} points
      </li>
    </ul>
  </div>
</div>
