.grid-container {
  max-width: 800px; 
  margin: auto;
}

.container {
  max-width: 100%;
}

.row {
  display: flex;
}

.col {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
