<div class="container mt-5">
    <div class="justify-content-center d-flex">
        <div class="card " style="max-width:500px ;">
            <h1 style="text-align: center;">Login</h1>
            <div class="card-body">
                <form [formGroup]="loginForm" class="form-control" (ngSubmit)="login()">
                    <div class="row">
          
                        <div class="col-lg-12">
                            <label for="email">Email</label>
                            <input type="email" id="email" formControlName="email" class="form-control">

                            <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
                                <div *ngIf="loginForm.get('email')?.errors?.['required']">
                                    <p style="color: red;">This field is required !!!</p>
                                </div>
                              </div>
                  
                              <div *ngIf="loginForm.get('email')?.errors?.['email']">
                                <p style="color: red;">Please enter valid email !!!</p>
                              </div>

                        </div>
                        <div class="col-lg-12">
                            <label for="password">Password</label>
                            <input type="password" id="password" formControlName="password" class="form-control  mb-3">

                            <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
                                <div *ngIf="loginForm.get('password')?.errors?.['required']">
                                    <p style="color: red;">This field is required !!!</p>
                                </div>
                              </div>
                              <div>
                                <p style="color: red;" *ngIf="errorMsg">{{errorMsg}}</p>
                              </div>
                        </div>
                        <hr>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary mb-2" [disabled]="loginForm.invalid==true">Login</button>
                            <a class="btn btn-outline-primary" routerLink="/signup">New User?</a>
                          </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
 

</div>