<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card mt-5">
                <div class="card-header">Add Bus</div>
                <div class="card-body">
                    <form [formGroup]="busForm" (ngSubmit)="onSubmit()">
                        <div class="form-group mt-2">
                            <label for="busNumber">Bus Number</label>
                            <input type="text" id="busNumber" class="form-control" formControlName="busNumber">
                            <div *ngIf="busForm.get('busNumber')?.invalid && busForm.get('busNumber')?.touched" class="invalid-feedback">
                                Bus Number is required.
                            </div>
                        </div>
                        <div class="form-group mt-2">
                            <label for="seatingCapacity">Seating Capacity</label>
                            <select id="seatingCapacity" class="form-control" formControlName="seatingCapacity">
                                <option [ngValue]="null" disabled selected>Select Seating Capacity</option>
                                <option *ngFor="let capacity of seatingCapacities" [value]="capacity">{{ capacity }}</option>
                            </select>
                            <div *ngIf="busForm.get('seatingCapacity')?.invalid && busForm.get('seatingCapacity')?.touched" class="invalid-feedback">
                                Seating Capacity is required.
                            </div>
                        </div>
                        <div class="form-group mt-2">
                            <label for="date">Date</label>
                            <input type="date" id="date" class="form-control" formControlName="date" min="2024-07-19" max="2024-08-22">
                            <div *ngIf="busForm.get('date')?.invalid && busForm.get('date')?.touched" class="invalid-feedback">
                                Date is required.
                            </div>
                        </div>
                        <div class="form-group mt-2">
                            <label for="amenities">Amenities (comma separated)</label>
                            <input type="text" id="amenities" class="form-control" formControlName="amenities">
                            <div *ngIf="busForm.get('amenities')?.invalid && busForm.get('amenities')?.touched" class="invalid-feedback">
                                Amenities are required.
                            </div>
                        </div>

                        <div class="form-group mt-2">
                            <div class="row">
                                <div class="col-lg-6">
                                    <label for="fare">Fare Per KM</label>
                                    <input type="number" id="fare" class="form-control" formControlName="fare">
                                    <div *ngIf="busForm.get('fare')?.invalid && busForm.get('fare')?.touched" class="invalid-feedback">
                                        Fare is required
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <label for="tax">Tax in percentage</label>
                                    <input type="number" id="tax" class="form-control" formControlName="tax">
                                    <div *ngIf="busForm.get('tax')?.invalid && busForm.get('tax')?.touched" class="invalid-feedback">
                                        tax is required
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group mt-2">
                            <label for="route">Select Route</label>
                            <select id="route" class="form-control" formControlName="routeId" (change)="onRouteChange()">
                                <option *ngFor="let route of routes" [value]="route._id">
                                    {{ getFormattedStations(route) }} (Distance: {{ getTotalDistance(route) }} km)
                                </option>
                            </select>
                            <div *ngIf="busForm.get('routeId')?.invalid && busForm.get('routeId')?.touched" class="invalid-feedback">
                                Route is required.
                            </div>
                        </div>
             

        
                        <div *ngIf="stops.length" class="form-group">
                            <label class="mt-3">Stops with Times :</label>
          
                            <div formArrayName="stops">
                                <div *ngFor="let stop of stops.controls; let i = index" [formGroupName]="i" class="mb-2 mt-1">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <input type="text" formControlName="station" class="form-control mb-1" readonly>
                                        </div>
                                        <div class="col-lg-6">
                                            <input type="time" formControlName="time" class="form-control" placeholder="Time" step="300">
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                            
                        </div>
                 
                        <div class="justify-content-center d-flex mt-2">
                            <button type="submit" class="btn btn-primary" [disabled]="busForm.invalid">Add Bus</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
