<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h1 class="text-center">Add Question</h1>
        </div>
        <div class="card-body">
            <form [formGroup]="questionForm" (ngSubmit)="submit()" novalidate>
                <div class="row mb-3">
                    <div class="col-md-4">
                        <label for="q_no" class="form-label">Question No:</label>
                        <input type="number" class="form-control" id="q_no" formControlName="q_no" required>


                        <div *ngIf="questionForm.get('q_no')?.invalid && questionForm.get('q_no')?.touched">
                            <div *ngIf="questionForm.get('q_no')?.errors?.['required']">
                                <p style="color: red;">This field is required !!!</p>
                            </div>
                        </div>


                    </div>
                    <div class="col-md-8">
                        <label for="question" class="form-label">Question:</label>
                        <input type="text" class="form-control" id="question" formControlName="questionText" required>

                        <div *ngIf="questionForm.get('question')?.invalid && questionForm.get('question')?.touched">
                            <div *ngIf="questionForm.get('question')?.errors?.['required']">
                                <p style="color: red;">This field is required !!!</p>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-3">
                        <label for="o1" class="form-label">Option 1:</label>
                        <input type="text" class="form-control" id="o1" formControlName="o1" required>


                        <div *ngIf="questionForm.get('o1')?.invalid && questionForm.get('o1')?.touched">
                            <div *ngIf="questionForm.get('o1')?.errors?.['required']">
                                <p style="color: red;">This field is required !!!</p>
                            </div>
                        </div>


                    </div>
                    <div class="col-md-3">
                        <label for="o2" class="form-label">Option 2:</label>
                        <input type="text" class="form-control" id="o2" formControlName="o2" required>

                        <div *ngIf="questionForm.get('o2')?.invalid && questionForm.get('o2')?.touched">
                            <div *ngIf="questionForm.get('o2')?.errors?.['required']">
                                <p style="color: red;">This field is required !!!</p>
                            </div>
                        </div>

                    
                        


                    </div>
                    <div class="col-md-3">
                        <label for="o3" class="form-label">Option 3:</label>
                        <input type="text" class="form-control" id="o3" formControlName="o3" required>


                        <div *ngIf="questionForm.get('o3')?.invalid && questionForm.get('o3')?.touched">
                            <div *ngIf="questionForm.get('o3')?.errors?.['required']">
                                <p style="color: red;">This field is required !!!</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-3">
                        <label for="o4" class="form-label">Option 4:</label>
                        <input type="text" class="form-control" id="o4" formControlName="o4" required>


                        <div *ngIf="questionForm.get('o4')?.invalid && questionForm.get('o4')?.touched">
                            <div *ngIf="questionForm.get('o4')?.errors?.['required']">
                                <p style="color: red;">This field is required !!!</p>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="correctOption" class="form-label">Correct Option:</label>
                        <select id="correctOption" class="form-select" formControlName="correctOption" required>
                            <option value="o1">Option 1</option>
                            <option value="o2">Option 2</option>
                            <option value="o3">Option 3</option>
                            <option value="o4">Option 4</option>
                        </select>

                        <div
                            *ngIf="questionForm.get('correctOption')?.invalid && questionForm.get('correctOption')?.touched">
                            <div *ngIf="questionForm.get('correctOption')?.errors?.['required']">
                                <p style="color: red;">This field is required !!!</p>
                            </div>
                        </div>


                    </div>
                    <div class="col-md-6">
                        <label for="difficulty" class="form-label">Difficulty:</label>
                        <input type="number" class="form-control" id="difficulty" min="1" max="10"
                            formControlName="difficulty" required>


                        <div *ngIf="questionForm.get('difficulty')?.invalid && questionForm.get('difficulty')?.touched">
                            <div *ngIf="questionForm.get('difficulty')?.errors?.['required']">
                                <p style="color: red;">This field is required !!!</p>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-md-6 text-center">
                        <button class="btn btn-primary btn-lg" type="submit" [disabled]="questionForm.invalid">{{
                            question ? 'Update' : 'Submit' }}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>