<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <div class="card border-primary shadow-lg p-3 mb-5 bg-light rounded">
        <h1 class="text-center mb-4 text-primary">Signup</h1>
        <div class="card-body">
          <form [formGroup]="signupForm" (ngSubmit)="signup()" enctype="multipart/form-data">
            <div class="mb-3">
              <label for="name" class="form-label">Name</label>
              <input type="text" id="name" formControlName="name" class="form-control form-control-lg"
                placeholder="Enter your name">

              <div *ngIf="signupForm.get('name')?.invalid && signupForm.get('name')?.touched">
                <div *ngIf="signupForm.get('name')?.errors?.['required']">
                  <p style="color: red;">This field is required !!!</p>
                </div>
              </div>

            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" id="email" formControlName="email" class="form-control form-control-lg"
                placeholder="Enter your email">

              <div *ngIf="signupForm.get('email')?.invalid && signupForm.get('email')?.touched">
                <div *ngIf="signupForm.get('email')?.errors?.['required']">
                  <p style="color: red;">This field is required !!!</p>
                </div>
              </div>

              <div *ngIf="signupForm.get('email')?.errors?.['email']">
                <p style="color: red;">Please enter valid email !!!</p>
              </div>

            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" id="password" formControlName="password" class="form-control form-control-lg"
                placeholder="Enter your password">

              <div *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.touched">
                <div *ngIf="signupForm.get('password')?.errors?.['required']">
                  <p style="color: red;">This field is required !!!</p>
                </div>
              </div>


            </div>
            <div class="mb-3">
              <label for="role" class="form-label">Role</label>
              <select id="role" formControlName="role" class="form-control form-control-lg">
                <option value="user">User</option>
                <option value="admin">Admin</option>
              </select>


            </div>
            <div class="mb-3">
              <label for="profileImage" class="form-label">Profile Image</label>
              <input type="file" id="profileImage" (change)="onFileChange($event)" class="form-control form-control-lg">
            </div>
            <div>
              <p style="color: red;" *ngIf="emailError">{{emailError}}</p>
            </div>
            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-primary btn-lg">Signup</button>
            </div>


          </form>
        </div>
        <div class="card-footer text-center">
          <p class="mb-0">Already have an account? <a routerLink="/login">Login</a></p>
        </div>
      </div>
    </div>
  </div>
</div>