<div class="container mt-4">
    <div class="d-flex justify-content-center mb-4">
        <h4 class="text-dark">User Exam Statistics</h4>
    </div>
    <div class="row">
        <div class="col-md-4" *ngFor="let stat of stats">
            <div class="card bg-dark text-light mt-4">
                <div class="card-body">
                    <h5 class="card-title">Difficulty Level: <strong>{{ stat.difficulty | uppercase }}</strong></h5>
                    <p class="card-text">Average Score: {{ stat.averageScore }}</p>
                    <p class="card-text">Number of Exams: {{ stat.exams.length }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
